{% extends "base.html" %}

{% block title %}提交{% endblock %}
{% block navbar %}
<ul class="nav navbar-nav">
  <li><a href="/">首页</a></li>
  <li class="active"><a href="/submit">提交别字</a></li>
  <li><a href="/rank">榜单</a></li>
  <li><a href="/notice">公告</a></li>
</ul>
{% endblock %}
{% block main %}
<form class="form-horizontal" action="/submit/" method="post">
{% csrf_token %}
  <div class="form-group">
    <label for="corpName" class="col-sm-2 control-label">公司名称</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="corpName" placeholder="网站名称">
    </div>
  </div>
  <div class="form-group">
    <label for="link" class="col-sm-2 control-label">链接</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="link" placeholder="链接">
    </div>
  </div>
  <div class="form-group">
    <label for="inWord" class="col-sm-2 control-label">所在词组</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inWord" placeholder="所在词组">
    </div>
  </div>
  <div class="form-group">
    <label for="inCentence" class="col-sm-2 control-label">所在句子</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inCentence" placeholder="所在句子">
    </div>
  </div>
  <div class="form-group">
    <label for="correctWord" class="col-sm-2 control-label">正确词组</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="correctWord" placeholder="正确词组">
    </div>
  </div>
  <div class="form-group">
    <label for="checkCode" class="col-sm-2 control-label">验证码</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="checkCode" placeholder="验证码">
      <br/>
      <img src="/get_check_code_image/" alt="验证码" onclick="this.setAttribute('src','/get_check_code_image/?nocache='+Math.random());"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input class="btn btn-default" onclick="submit_new();" value="提交" />
    </div>
  </div>
</form>
{% endblock %}