{% extends "base.html" %}
{% block auth %}
{% endblock %}
{% block title %}申请注册{% endblock %}
{% block navbar %}
<ul class="nav navbar-nav">
  <li class="active"><a href="/">首页</a></li>
  <li><a href="/submit">提交别字</a></li>
  <li><a href="/rank">榜单</a></li>
  <li><a href="/notice">公告</a></li>
</ul>
{% endblock %}
{% block main %}
<form class="form-inline" action="" method="post">
{% csrf_token %}
  <div class="form-group">
    <label class="sr-only" for="email">邮箱</label>
    {{ form.email }}
  </div>
  <input type="submit" class="btn btn-default" value="提交申请">
</form>
<br />
{% endblock %}